# Python virtual environments
.venv/
venv/
env/

# Python cache and compiled files
__pycache__/
*.py[cod]

# Environment variables
.env

# Editor settings
.vscode/

# ML / YOLO artifacts
runs/
*.pt
*.pth

# Datasets
training/football-players-detection-1/